#PhotoWall {
    background-repeat: no-repeat;
    /* background-size:100% 100%; */
    background-size: cover;
    background-attachment: fixed;
    display: block;
    width: 100%;
    /* width: 100%; */
    height: auto;
    /* height: 100%; */
    margin: 0;
    padding: 0;
    /* margin-bottom: 30px; */
}

.GBody>h1 {
    background-color: antiquewhite;
    text-align: center;
    margin: 40px;
    border-bottom: #111;
    border-bottom-width: 3px;
    border-bottom-style: dashed;
}