* {
    margin: 0;
    padding: 0;
}

.Block {
    width: auto;
    height: auto;
    /* background-color: aqua; */
}

.FullLine {
    width: 100%;
    height: auto;
    display: flex;
    /* flex-shrink: 0; */
}

.CenterText {
    margin: 0 auto;
    position: relative;
    /*脱离文档流*/
    top: 50%;
    /*偏移*/
    /* margin-top: -30%;  */
    transform: translateY(-50%);
    text-align: center;
}

a {
    text-decoration: none;
    /* color: white; */
}